.container{
    border: 2px solid red;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    /* flex-direction:column-reverse; */
}

.item{
    height: 92px;
    width: 92px;
    border: 2px solid black;
    margin: 4px;
    background-color: blueviolet;
}